#logodeservis{
  display:block;
  margin:auto;
}
#sep2{
  border-color: #FF8000;
}
#form-group{
  margin-top: 15px;
}

form{
  width: 200px;
  margin-left:auto;
  margin-right:auto;
}

h2{
  color:  #FF8000;
}

header{
  background-color: #99F0FA;
  background: linear-gradient(to right, #99F0FA, white, #99F0FA);
}

footer{
  background-color: #DFDFDF;
}

textarea,input{
   resize: none;
   border-radius: 5px;
}

textarea:focus, input:focus, input[type]:focus {
    border-color: rgb(255, 144, 0);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
}

button{
  background-color: white;
  border: 2px solid #FF8000;
  border-radius: 10px;
  margin-left: 15px;
}
button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover {
    background-color: #FF8000; /* Green */
    color: white;
}
